@charset "UTF-8";
.header.header-contact{
  background:url(../img/contact/hero_contact.jpg) no-repeat center center/cover;/*背景画像を指定*/
}

.wrapper{
  max-width: 960px;/*画面最大幅を960px*/
  margin: 0 auto;/*上下の外余白を0、左右の外余白を自動に*/
  padding: 0 4%;/*上下の内余白を0に、左右の内余白を4%*/
}

.section-contact{
   padding: 30px 0 50px;/*要素の内余白を上30、左右0、下50pxに*/
}

@media print, screen and (min-width: 768px){
  .section-contact{
    padding: 60px 0 100px;
    margin: 0 auto;
  }
}

.lead{
   margin-bottom:30px;/*外余白下30px*/
}

@media print, screen and (min-width: 768px){
  .lead{
    margin: 0 auto;
    width: 600px;
    text-align: center;/*文字中央揃え*/
    margin-bottom: 60px;
  }
}

.select, input[type="text"], textarea {
  -moz-appearance: none;/*装飾を消す*/
  -webkit-appearance: none;/**/
  appearance: none;
  width: 100%;/*要素の幅を100%*/
  height: 43px;/*要素の高さを43pxに*/
  padding: 0 10px;/*内要素を上下0、左右10px*/
  border: 1px solid #000;/*罫線1px、実線　黒*/
  border-radius: 0;/*罫線の角半径を0に*/
  background: #fff;/*背景白*/
  font-size: 1.6rem;
  line-height: 43px;/*行の高さを43pxに*/
}

.selectbox-wrap{
  position: relative;
  width: 240px;
  height: 43px;
  z-index: 1;/*重ねる時の優先度1*/
}

.selectbox-wrap::after{
  content:"";/*表示するコンテンツの内容*/
  display: block;/*表示形式をブロックに*/
  width: 14px;
  height: 12px;
  background: url(../img/contact/icon_select.png) no-repeat center center/cover;/*背景画像を指定*/
  position: absolute;
  top: 50%;/*上を基準点から50%*/
  margin-top: -6px;/*外部余白の上部を-6pxに*/
  right: 15px;/*右を基準点から15pxに*/
  z-index: 10;/*重ねる時の優先度1*/
}

.form-block{
  margin-bottom: 25px;/*外下余白を25px*/
}
@media print, screen and (min-width: 768px){
  .form-block{
    width: 600px;
    margin: 0 auto 30px;
  }
}

.form-title{
  font-size: 1,4rem;
  margin-bottom: 10px;/*外下余白を10px*/
}

.form-title span{
  display: inline-block;/*表示形式をインラインブロックに*/
  font-size: 1.0rem;
  color:#f32938;
  margin-left: 8px;/*外余白の左を8px*/
}

.textarea{
  height: 97px;
  line-height: 1.5;/*行の高さをフォントサイズの1.5倍に*/
  padding: 10px;/*内余白を10px*/
}

.submit-btn{
  -moz-appearance: none;/*装飾を消す*/
  -webkit-appearance: none;/**/
  appearance: none;
  border: none;
  cursor: pointer;/*カーソルをポインタに*/
  padding: 0;/*内余白を0*/
  background: #000;
  color: #fff;
  font-size: 1.4rem;
  width: 116px;
  height: 43px;
  line-height: 43px;
  margin: 0 auto;/*外余白を上下0 左右自動*/
  display: block;
}

