@charset "UTF-8";
.header.header-menu{
  background:url(../img/menu/hero_menu.jpg) no-repeat center center/cover;/*背景画像を指定*/
}

.wrapper{
  max-width: 960px;/*画面最大幅を960px*/
  margin: 0 auto;/*上下の外余白を0、左右の外余白を自動に*/
  padding: 0 4%;/*上下の内余白を0に、左右の内余白を4%*/
}

.lead{
  padding: 30px 0;/*上下の内余白を30pxに、左右の内余白を0に*/
}

@media print, screen and (min-width: 768px) {
  .lead{
    width: 800px;
    margin: auto;
    text-align: center;/*文字中央揃え*/
  }  
}

.lead-title{
  font-size:25px;/*文字サイズを25pxに*/
  margin-bottom: 10px;/*下部分の外余白を10pxに*/
  font-weight: bold;/*文字を太字に*/
  line-height: 1.2; /*行の高さをフォントサイズの1.2倍に*/
  font-family:"ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN","HG明朝E","MS P明朝","MS 明朝",serif;/*フォント種類を指定*/
}

.menu{
  padding: 15px 0;/*内余白を上下15px、左右0に*/
  border-bottom: 1px solid #eee;/*罫線を下部1px、実線、灰色で*/
  list-style: none;/*リストの黒丸をなしに*/
}

@media print, screen and (min-width: 768px){
  .menu-wrap{
    display: -webkit-flex;/*子要素を並列に*/
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;/*flexで並べた子要素を複数行に*/
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .menu{
    width: 33.33%;
    padding: 0 30px;
    margin-bottom: 60px;
    border-bottom: none;
  }
}

.menu_img{
  margin-bottom: 20px;
}

.menu-name-en{
  font-size: 20px;/*文字サイズ20px*/
  font-family:"ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN","HG明朝E","MS P明朝","MS 明朝",serif;/*フォント種類を指定*/
  font-weight:bold;/*文字を太字に*/
  margin-bottom: 15px;/*外余白の下部を15pxに*/
}

.menu-name-ja{
  font-size: 14px;/*文字サイズを14pxに*/
  font-weight: bold;/*文字を太字に*/
  margin-bottom:15px;/*外余白の下部を15pxに*/
}

.menu-price{
  font-size: 14px;/*文字サイズを14pxに*/
  display: -webkit-flex;/*子要素を並列に*/
  display:-ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;/*並列になった要素の幅を均等に*/
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menu-price + .menu-price{
  margin-top:5px;/*外余白の下部分を5pxに*/
}

.menu-category{
  margin-bottom:60px;/*外余白の下部を60px*/
}

@media print ,screen and (min-width: 768px){
  .menu-category{
    margin:0 -30px 60px;
  }
}