@charset "UTF-8";
.wrapper{
  max-width: 960px;/*最大の画面幅を960pxに*/
  margin: 0 auto;/*外余白を上下0、左右自動に*/
  padding: 0 4%;/*内余白を上下0、左右４％に*/
}

.lead{
  padding: 30px 0;/*内余白を上下30px、左右0に*/
}

@media print,screen and (min-width:768px){
  .lead{
    width: 800px;
    margin: 0 auto;/*外余白上下0、左右自動*/
    text-align: center;/*文字を中央ぞろえに*/
  }
}

.img-link-wrap{
  margin-bottom: 40px;/*下外余白を40pxに*/
}

@media print,screen and (min-width: 768px){
  .img-link-wrap{
    display: -webkit-flex;/*子要素を並列に*/
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 80px;
  }
  .img-link{
    width:50%;
  }
}

.img-link a {
  display: block;  /*表示形式をブロックに*/
  position: relative;/*要素の配置を相対座標に指定*/
  z-index :1;/*要素を重ねて表示する際の優先順度を1に*/
}

.img-link a .heading02{
  color:#fff;/*白*/
  z-index:2;/*重ねて表示するとき優先度を2に*/
  position: absolute;/*要素の配置を絶対座標に*/
  width: 100%;/*要素の幅を100%*/
  top: 50%;/*上部分を基準点から50%の位置に*/
  left: 0;/*左部分を基準点から50%分だけ上に*/
  -webkit-transform: translate(o,-50%);/*要素の位置を50%分だけ上に*/
  transform: translate(0,-50%);/*要素の位置を50%分だけ上に*/
  margin-bottom: 0;/*下外世は宇を0に*/
}

.img-link a .heading02 span{
  border-color: #fff;/*罫線を白に*/
}

.img-link a img{
  display: block;/*表示形式をブロックに*/
}